Click the link to confirm your email address

<a href="https://govuk-email.herokuapp.com/email/mvp/subscribed/1" target="_blank">Confirm your email address</a>

You need to do this to manage your <a href="https://www.gov.uk" target="_blank">GOV.UK</a> email subscriptions. The link will stop working in 7 days.

--

Didn’t request this email?

Ignore or delete this email if you didn’t request it. Your subscriptions won’t be changed.

<a href="https://www.gov.uk/help/update-email-notifications#problems-with-your-email-alerts" target="_blank">Contact GOV.UK<a> if you have any problems with your email subscriptions.
