Click the link to confirm your subscription

<a href="https://govuk-email.herokuapp.com/email/mvp/subscribed/1" target="_blank">Confirm your email address</a>

This link will stop working in 7 days.

--

Didn’t request this email?

Ignore or delete this email if you didn’t request it.

Read our <a href="https://www.gov.uk/help/privacy-notice" target="_blank">privacy policy (opens in a new tab)</a> to find out how we use and protect your data.

<a href="https://www.gov.uk/help/update-email-notifications#problems-with-your-email-alerts" target="_blank">Contact GOV.UK<a> if you have any problems with your email subscriptions.
