Subscription confirmed on GOV.UK.

--

You’re getting this email because you subscribed to updates on MOT and vehicle tests.

You can <a href="#">manage your subscription</a> to change how often you receive updates.

<a href="https://www.gov.uk/contact" target="_blank">Contact GOV.UK</a> if you have any problems with your email subscriptions.

--

<a href="#">Unsubscribe</a> to stop receiving updates on MOT and vehicle tests.
