Subscription confirmed on GOV.UK.

--

You’re getting this email because you subscribed to updates on MOT and vehicle tests.

You can <a href="https://govuk-email.herokuapp.com/email/manage-your-subscriptions" target="_blank">manage your subscription</a> to change how often you receive updates.

<a href="https://www.gov.uk/help/update-email-notifications#problems-with-your-email-alerts" target="_blank">Contact GOV.UK</a> if you have any problems with your email subscriptions.

--

<a href="https://govuk-email.herokuapp.com/email/unsubscribe">Unsubscribe</a> to stop receiving updates on MOT and vehicle tests.
