{% extends "layout.html" %}

{% block pageTitle %}
  Taxonomy list component – GOV.UK Prototype
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype",
    classes: "app-tag--prototype"
  },
  html: 'This is a prototype – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span>
        Taxonomy list
      </h1>

      <p class="govuk-body"><a class="govuk-link" href="https://components.publishing.service.gov.uk/component-guide/taxonomy_list">GOV.UK component guide</a></p>

      <h2 class="govuk-heading-l">Examples</h2>

      <h3 class="govuk-heading-m">Example 1</h3>

      {{ appTaxonomyList({
        highlights: {
          inverse: true,
          items: [{
            href: '#',
            title: {
              text: 'Lorem ipsum dolor sit amet 1'
            },
            metadata: {
              document_type: 'Speech'
            }
          },
          {
            href: '#',
            title: {
              text: 'Lorem ipsum dolor sit amet 2'
            },
            metadata: {
              document_type: 'Policy paper'
            }
          },
          {
            href: '#',
            title: {
              text: 'Lorem ipsum dolor sit amet 3'
            },
            metadata: {
              document_type: 'Guide'
            }
          }]
        },
        documents: {
          items: [{
            href: '#',
            title: {
              text: 'Document 1'
            },
            metadata: {
              document_type: 'Statutory guidance'
            }
          },
          {
            href: '#',
            title: {
              text: 'Document 2'
            },
            metadata: {
              document_type: 'Statutory guidance'
            }
          },
          {
            href: '#',
            title: {
              text: 'Document 3'
            },
            metadata: {
              document_type: 'Statutory guidance'
            }
          }]
        }
      }) }}

      <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

      {{ appTaxonomyList({
        imageCards: {
          items: [{
            href: '#',
            title: {
              text: 'Lorem ispum dolor emit',
              headingLevel: '3'
            },
            image: {
              src: 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/feature/image/62756/s300_courts-of-justice.JPG',
              alt: 'Royal Courts of Justice'
            },
            metadata: {
              public_updated_at: '2019-06-27 10:29:44 +0000',
              document_type: 'Press release'
            }
          },
          {
            href: '#',
            title: {
              text: 'Lorem ispum dolor emit',
              headingLevel: '3'
            },
            image: {
              src: 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/feature/image/62756/s300_courts-of-justice.JPG',
              alt: 'Royal Courts of Justice'
            },
            metadata: {
              public_updated_at: '2019-06-27 10:29:44 +0000',
              document_type: 'Press release'
            }
          },
          {
            href: '#',
            title: {
              text: 'Lorem ispum dolor emit',
              headingLevel: '3'
            },
            image: {
              src: 'https://assets.publishing.service.gov.uk/government/uploads/system/uploads/feature/image/62756/s300_courts-of-justice.JPG',
              alt: 'Royal Courts of Justice'
            },
            metadata: {
              public_updated_at: '2019-06-27 10:29:44 +0000',
              document_type: 'Press release'
            }
          }]
        },
        documents: {
          items: [{
            href: '#',
            title: {
              text: 'Document 1'
            },
            metadata: {
              document_type: 'Statutory guidance'
            }
          },
          {
            href: '#',
            title: {
              text: 'Document 2'
            },
            metadata: {
              document_type: 'Statutory guidance'
            }
          },
          {
            href: '#',
            title: {
              text: 'Document 3'
            },
            metadata: {
              document_type: 'Statutory guidance'
            }
          }]
        }
      }) }}



    </div>
</div>

{% endblock %}
