{% extends "layout.html" %}

{% block pageTitle %}
  Feedback component – GOV.UK Prototype
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/feedback.js"></script>
<script type="text/javascript">
  var $element = $('#feedback');
  var feedback = new GOVUK.Modules.Feedback();
  feedback.start($element);
</script>
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype",
    classes: "app-tag--prototype"
  },
  html: 'This is a prototype – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span>
        Feedback
      </h1>

      <p class="govuk-body-l">Invites a user feedback on the current page.</p>

      <p class="govuk-body"><a class="govuk-link" href="https://components.publishing.service.gov.uk/component-guide/feedback">GOV.UK component guide</a></p>

      <h2 class="govuk-heading-l">Examples</h2>

      <h3 class="govuk-heading-m">Example 1</h3>

      {{ appFeedback({
        id: 'feedback'
      }) }}

    </div>
</div>

{% endblock %}
