/* ==========================================================================
   #METADATA
   Based on https://github.com/alphagov/govuk_publishing_components/blob/master/app/assets/stylesheets/govuk_publishing_components/components/_metadata.scss
   ========================================================================== */

   .app-metadata {
    @include govuk-text-colour;
    @include govuk-font(16);
    @include responsive-bottom-margin;
    @include govuk-clearfix;

    a {
      @include govuk-link-common;
      @include govuk-link-style-default;
    }
  }

  .app-metadata.direction-rtl {
    direction: rtl;
    text-align: start;
  }

  .app-metadata--inverse {
    color: govuk-colour("white");
    background-color: govuk-colour("blue");

    a:link,
    a:active,
    a:visited {
      color: govuk-colour("white");
    }

    a:focus {
      color: govuk-colour("black");
    }
  }

  .app-metadata__term {
    margin-top: .5em;
    line-height: 1.4;

    @include govuk-media-query($from: tablet) {
      box-sizing: border-box;
      float: left;
      clear: left;
      width: 30%;
      max-width: 11em;
      padding-right: govuk-spacing(2);
      margin-top: 0;
    }
  }

  .app-metadata.direction-rtl .app-metadata__term {
    float: right;
    clear: right;

    @include govuk-media-query($from: tablet) {
      padding-left: govuk-spacing(2);
      padding-right: 0;
    }
  }

  .app-metadata__definition {
    margin: 0;
    line-height: 1.4;

    @include govuk-media-query($from: tablet) {
      float: left;
      width: 70%;
    }
  }

  .app-metadata__definition-link {
    text-decoration: none;
  }

  .app-metadata__definition-link:focus,
  .app-metadata__definition-link:active,
  .app-metadata__definition-link:hover {
    text-decoration: underline;
  }

  .app-metadata.direction-rtl .app-metadata__definition {
    float: right;
  }

  .app-metadata__toggle-wrap {
    display: none;
  }

  .js-enabled .app-metadata__toggle-wrap {
    display: block;
  }

  .js-enabled .app-metadata__toggle-items.js-hidden {
    display: none;
  }
