{% extends "layout.html" %}

{% block pageTitle %}
  Step by step navigation related links – GOV.UK Prototype
{% endblock %}

{% block pageScripts %}

{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype",
    classes: "app-tag--prototype"
  },
  html: 'This is a prototype – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBackLink({
  text: "Back",
  href: "../"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-xl">Components</span>
        Step by step navigation related links
      </h1>

      <p class="govuk-body-l">Links to step by step navigations that a page is part of.</p>

      <p class="govuk-body"><a class="govuk-link" href="https://components.publishing.service.gov.uk/component-guide/step_by_step_nav_related">GOV.UK component guide</a></p>

      <h2 class="govuk-heading-l">Examples</h2>

      <h3 class="govuk-heading-m">Example 1</h3>

      {{ appStepByStepNavigationRelatedLinks({
        items: [{
          text: 'Learn to drive a car: step by step',
          href: '#'
        }]
      }) }}

      <h3 class="govuk-heading-m govuk-!-margin-top-9">Example 2</h3>

      {{ appStepByStepNavigationRelatedLinks({
        items: [{
          text: 'Learn to drive a car: step by step',
          href: '#'
        },{
          text: 'Learn to drive a motorbike: step by step',
          href: '#'
        }]
      }) }}

    </div>
</div>

{% endblock %}
