<a href="/">Confirm your email address</a> to activate your subscription for updates on News and communications.

This link will stop working in 7 days.

Find out <a href="/">how we use and protect your data</a>.

--

What happens next

Once you confirm your email address, you will be sent updates when new information is added. You can later change how often you receive these updates.

--

Don’t recognise this email?

Ignore or delete this email if you didn’t request it.

<a href="/">Contact GOV.UK<a> if you have any problems with your email subscriptions.
