{% extends "layout.html" %}


{% block pageTitle %}
  Check your email inbox to confirm your subscription - GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/email/mvp/email-updates"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your email inbox to confirm your subscription</h1>

      <p>We’ve sent an email to <span class="govuk-body govuk-!-font-weight-bold">{{ data["your-email"] if data["your-email"] else "joe.bloggs@digital.cabinet-office.gov.uk" | safe }}</span></p>
      <p>Use the link in the email to confirm your subscription.</p>

      {{ govukInsetText({
        text: "You have 7 days to confirm"
      }) }}

    </div>

  </div>

{% endblock %}
