{% extends "layout.html" %}


{% block pageTitle %}
  Change your email address - GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Change your email address</h1>

      <p>Your existing email address is: <span class="govuk-body govuk-!-font-weight-bold">trevor.saint@digital.cabinet-office.gov.uk</span></p>

      <form method="post">

        {{ govukInput({
          label: {
            text: "Your new email"
          },
          id: "your-new-email",
          name: "your-new-email",
          type: "email"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

      <p><a class="govuk-link govuk-link--no-visited-state" href="/">Cancel</a></p>

    </div>

  </div>

{% endblock %}
