{% extends "layout.html" %}


{% block pageTitle %}
  Check your email to confirm your subscription - GOV.UK
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Check your email to confirm your subscription</h1>

      <p>We’ve sent an email to <span class="govuk-body govuk-!-font-weight-bold">{{ data['your-email'] }}</span></p>
      <p>Check your email and confirm your email address.</p>

      {{ govukInsetText({
        text: "You have 7 days to confirm"
      }) }}

    </div>

  </div>

{% endblock %}
