{% extends "layout-email.html" %}


{% block pageTitle %}
  Confirm your email address - GOV.UK
{% endblock %}


{% set mainClasses = mainClasses | default("govuk-main-wrapper--email") %}


{% block content %}

  <h1 class="govuk-heading-l">Confirm your email address</h1>

  <p>Confirm your email address to activate your subscription for updates on <span class="govuk-body govuk-!-font-weight-bold">MOT and vehicle tests</span>.</p>

  {{ govukButton({
    text: "Confirm email",
    classes: "govuk-!-margin-bottom-0",
    href: "#"
  }) }}

  {{ govukInsetText({
    text: "This link will stop working in 7 days."
  }) }}

  <p>Find out <a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/help/privacy-notice" target="_blank">how we use and protect your data</a>.</p>

  <h2 class="govuk-heading-m">What happens next</h2>

  <p>Once you confirm your email address, you will be sent updates when new information is added. You can later change how often you receive these updates.</p>

  <h2 class="govuk-heading-m">Don’t recognise this email?</h2>

  <p>Ignore or delete this email if you didn’t request it.</p>

  <p><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/contact" target="_blank">Contact GOV.UK</a> if you have any problems with your email subscriptions.</p>

{% endblock %}
