{% extends "layout.html" %}


{% block pageTitle %}
  Error: When do you want to be updated about changes? - GOV.UK
{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "You must choose when you want to receive updates",
            href: "#get-updates-error"
          }
        ]
      }) }}

      <form method="post">

        {{ govukRadios({
          idPrefix: "get-updated",
          name: "get-updated",
          fieldset: {
            legend: {
              text: "When do you want to be updated about changes?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "as-soon-as-they-happen",
              text: "As soon as they happen"
            },
            {
              value: "once-a-day",
              text: "Once a day"
            },
            {
              value: "once-a-week",
              text: "Once a week"
            }
          ],
          errorMessage: {
            text: "Choose when you want to receive updates"
          }
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>

  </div>

{% endblock %}
