{% extends "layout.html" %}


{% block pageTitle %}

  {% if errors %}
    Error: When do you want to be updated about changes? - GOV.UK
  {% else %}
    When do you want to be updated about changes? - GOV.UK
  {% endif %}

{% endblock %}


{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/email"
  }) }}
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {% if errors %}
      <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">

        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>

        <div class="govuk-error-summary__body">

          <ul class="govuk-list govuk-error-summary__list">
            <li><a href="#your-email-error">{{summaryError}}</a></li>
          </ul>

        </div>

      </div>
      {% endif %}

      <form method="post">

        {{ govukRadios({
          idPrefix: "get-updated",
          name: "get-updated",
          fieldset: {
            legend: {
              text: "When do you want to be updated about changes?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--xl"
            }
          },
          hint: {
            text: "Select one option."
          },
          items: [
            {
              value: "as soon as they happen",
              text: "As soon as they happen",
              checked: checked('get-updated', 'as-soon-as-they-happen')
            },
            {
              value: "once a day",
              text: "Once a day",
              checked: checked('get-updated', 'once-a-day')
            },
            {
              value: "once a week",
              text: "Once a week",
              checked: checked('get-updated', 'once-a-week')
            },
            {
              value: "once a month",
              text: "Once a month",
              checked: checked('get-updated', 'once-a-month')
            }
          ],
          errorMessage: inlineError
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>

  </div>

{% endblock %}
