{% extends "layout.html" %}


{% block pageTitle %}
  Manage your subscriptions - GOV.UK
{% endblock %}


{% block content %}

  <!-- This is NOT how I would design this page, but had to match what is available now -->

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Manage your subscriptions</h1>

      <h2 class="govuk-heading-m">Subscriptions for</h2>

      <p>{{ data["your-email"] if data["your-email"] else "trevor.saint@digital.cabinet-office.gov.uk" | safe }}</p>

      <p><a class="govuk-link govuk-link--no-visited-state" href="#">Change email adress</a></p>

    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--m">

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <h2 class="govuk-heading-m">MOT and vehicle tests</h2>

      <p>Subscribed on <time>27 November 2019 at 10:03am</time></p>

      <p>You chose to get updates {{ data["get-updated"] if data["get-updated"] else "as soon as they happen" }}.<br><a class="govuk-link govuk-link--no-visited-state" href="#">Change how often you get updates</a></p>

      <p><a class="govuk-link govuk-link--no-visited-state" href="/email/unsubscribe">Unsubscribe<span class="govuk-visually-hidden"> from MOT and vehicle tests</span></a></p>

    </div>

  </div>

  <hr class="govuk-section-break govuk-section-break--m">

  {{ govukInsetText({
    html: '<a class="govuk-link govuk-link--no-visited-state" href="#">Unsubscribe from everything</a>'
  }) }}

{% endblock %}
