{% extends "layout.html" %}


{% block pageTitle %}
  You’ve subscribed - GOV.UK
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "You’ve subscribed"
      }) }}

      <p>You will now be sent updates on <span class="govuk-body govuk-!-font-weight-bold">News and communications</span>.</p>

      <p><a class="govuk-link govuk-link--no-visited-state" href="/email/manage-your-subscriptions">Manage your subscription</a> to change how often you receive updates.</p>

    </div>

  </div>

{% endblock %}
