{% extends "layout-email.html" %}


{% block pageTitle %}
  Update - GOV.UK
{% endblock %}


{% set mainClasses = mainClasses | default("govuk-main-wrapper--email") %}


{% block content %}

  <p>Subscription confirmed on GOV.UK.</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukInsetText({
    html: 'You’re getting this email because you subscribed to updates on <b>MOT and vehicle tests</b>.'
  }) }}

  <p>You can <a class="govuk-link govuk-link--no-visited-state" href="/email/manage-your-subscriptions">manage your subscription</a> to change how often you receive updates.</p>

  <p><a class="govuk-link govuk-link--no-visited-state" href="https://www.gov.uk/contact" target="_blank">Contact GOV.UK</a> if you have any problems with your email subscriptions.</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <p><a class="govuk-link govuk-link--no-visited-state" href="/email/unsubscribe">Unsubscribe</a> to stop receiving updates on <b>MOT and vehicle tests</b>.</p>

{% endblock %}
