{% extends "layout.html" %}


{% block pageTitle %}
  You’ve subscribed - GOV.UK
{% endblock %}


{% block content %}

  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {{ govukPanel({
        titleText: "You’ve subscribed"
      }) }}

      <p><a class="govuk-link govuk-link--no-visited-state" href="/">Manage your subscription</a> to change how often you receive updates.</p>

      <h2 class="govuk-heading-m">Don’t recognise this email?</h2>

      <p>Ignore or delete this email if you didn’t request it.</p>

      <p><a class="govuk-link govuk-link--no-visited-state" href="#">Contact GOV.UK</a> if you have any problems with your email subscriptions.</p>

    </div>

  </div>

{% endblock %}
