{% extends "layout-email.html" %}


{% block pageTitle %}
  Update - GOV.UK
{% endblock %}


{% set mainClasses = mainClasses | default("govuk-main-wrapper--email") %}


{% block content %}

  <p>Update on GOV.UK.</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  <p><a class="govuk-link govuk-link--no-visited-state" href="#">Valencia CF vs Chelsea FC travel advice</a></p>

  <p>Page summary<br>Advice for fans travelling to Spain for the UEFA Champions League group stage Chelsea FC vs Valencia CF match on Wednesday 27 November 2019.</p>

  <p>Change made<br>First published.</p>

  <p>Time updated<br>2:39pm, 14 November 2019.</p>

  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

  {{ govukInsetText({
    html: 'You’re getting this email because you subscribed to immediate updates to ‘News and communications’ on GOV.​UK.'
  }) }}


  <p><a class="govuk-link govuk-link--no-visited-state" href="#">View, unsubscribe or change the frequency of your subscriptions</a></p>

  <p>Is this email useful? <a class="govuk-link govuk-link--no-visited-state" href="#">Answer some questions to tell us more</a>.</p>

{% endblock %}
