<a href="https://govuk-email.herokuapp.com/email/subscribed/1" target="_blank">Confirm your email address</a> to activate your subscription for updates on News and communications.

This link will stop working in 7 days.

Find out <a href="https://www.gov.uk/help/privacy-notice" target="_blank">how we use and protect your data</a>.

--

What happens next

Once you confirm your email address, you will be sent updates when new information is added. You can later change how often you receive these updates.

--

Don’t recognise this email?

Ignore or delete this email if you didn’t request it.

<a href="https://www.gov.uk/contact" target="_blank">Contact GOV.UK<a> if you have any problems with your email subscriptions.
