/* ==========================================================================
   #NOTICE
   Based on https://github.com/alphagov/govuk_publishing_components/blob/master/app/assets/stylesheets/govuk_publishing_components/components/_notice.scss
   ========================================================================== */
   .app-c-notice {
    @include govuk-text-colour;
    @include govuk-responsive-padding(4);
    @include govuk-responsive-margin(8, "bottom");

    clear: both;
    border: 5px solid govuk-colour("blue");

    .govuk-body {
      max-width: 40em;
    }

    .govuk-govspeak {
      p:last-child {
        margin-bottom: 0;
      }
    }

    .govuk-body:last-child {
      margin-bottom: 0;
    }
   }

   .app-c-notice__title {
    @include govuk-font(24, $weight: bold);
    @include govuk-responsive-margin(4, "bottom");
    margin-top: 0;

    &:last-child {
      margin-bottom: 0;
    }

    a {
      @extend %govuk-link;
    }

   }

   .app-c-notice__description {
    @include govuk-font(19);
    margin: 0;
   }



// Modifications of notice for user testing only
.app-c-notice--black {
  border-color: govuk-colour("black");

  a:link,
  a:visited {
    color: govuk-colour("black") !important;
    font-weight: bold;
  }

}


.app-c-notice--filled {
  background-color: govuk-colour("black");
  color: govuk-colour("white");

  .govuk-body {
    color: govuk-colour("white");
  }

  a:link {
    color: govuk-colour("white");
  }

  a:focus {
    color: govuk-colour("black");
  }

}
