
{% extends "layout.html" %}

{% block pageTitle %}
  Pet travel to Europe after Brexit – GOV.UK
{% endblock %}

{% block pageScripts %}
<script src="/public/javascripts/sticky-element-container.js"></script>
<script type="text/javascript">
  var $element = $('#contents');
  var stickyElementContainer = new GOVUK.Modules.StickyElementContainer();
  stickyElementContainer.start($element);
</script>
{% endblock %}

{% block beforeContent %}
{{ govukPhaseBanner({
  tag: {
    text: "prototype",
    classes: "app-tag--prototype"
  },
  html: 'This is a prototype – your <a class="govuk-link" href="#">feedback</a> will help us to improve it.'
}) }}
{{ govukBreadcrumbs({
  "items": [
    {
      "text": "Home",
      "href": "/"
    },
    {
      "text": "Animal welfare",
      "href": "/brexit-contact"
    },
    {
      "text": "Pets"
    }
  ]
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">
        <span class="govuk-caption-l">Guidance</span>
        Pet travel to Europe after Brexit
      </h1>

      <p class="govuk-body-l">How to prepare for travel with your pet to any EU country whether the UK leaves the EU with or without a deal.</p>

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {{ appMetadata({
        sections: [{
          heading: {
            text: 'Published:'
          },
          items: [{
            heading: {
              text: '6 November 2018'
            }
          }]
        },{
          heading: {
            text: 'Last updated:'
          },
          items: [{
            heading: {
              text: '11 October 2019'
            }
          },{
            heading: {
              text: 'See all updates'
            },
            href: '#'
          }],
          itemSeparator: '—'
        },{
          heading: {
            text: 'From:'
          },
          items: [{
            heading: {
              text: 'Department for Environment, Food & Rural Affairs'
            },
            href: '#'
          },{
            heading: {
              text: 'Animal and Plant Health Agency'
            },
            href: '#'
          }]
        }]
      }) }}
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {{ appImportantMetadata({
        items: [{
          term: {
            text: 'Applies to:'
          },
          definition: {
            html: 'England, Scotland, and Wales (see guidance for <a class="govuk-link app-link" href="#">Northern Ireland</a>)'
          }
        }],
        classes: 'app-important-metadata--bottom-margin'
      }) }}

      {%- call appContentsListWithBody({
        heading: {
          text: 'Contents'
        },
        items: [{
          text: 'Stay up to date',
          href: '#stay-up-to-date'
        }, {
          text: 'Pet travel if there’s a no-deal Brexit',
          href: '#pet-travel-if-theres-a-no-deal-brexit'
        }, {
          text: 'Return to the UK',
          href: '#return-to-the-uk'
        }, {
          text: 'UK nationals living in the EU',
          href: '#uk-nationals-living-in-the-eu'
        }, {
          text: 'If the UK becomes a listed third country',
          href: '#if-the-uk-becomes-a-listed-third-country'
        }, {
          text: 'Pet travel during an implementation period',
          href: '#pet-travel-during-an-implementation-period'
        }, {
          text: 'Find an official vet',
          href: '#find-an-official-vet'
        }, {
          text: 'Pet travel from Northern Ireland',
          href: '#pet-travel-from-northern-ireland'
        }, {
          text: 'Pet travel helpline',
          href: '#pet-travel-helpline'
        }],
        attributes: {
          id: 'contents'
        }
      }) %}

      <div class="app-call-to-action">
        <h2 class="govuk-heading-m" id="stay-up-to-date">Stay up to date</h2>
        <p class="govuk-body">The UK will leave the EU on 31 October. This page tells you how to prepare for Brexit. It will be updated if anything changes, including if a deal is agreed.</p>
        <p class="govuk-body"><a href="#">Sign up for government-wide email alerts</a> about Brexit.</p>
        <p class="govuk-body"><a href="#">Sign up for Defra alerts</a> about Brexit and the animal health and welfare sector.</p>
      </div>

      <div class="app-markdown">
        {{ content | safe }}
      </div>

      <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

      {% endcall -%}

      {{ appRelatedNavigation({
        heading: {
          text: 'Explore the topic'
        },
        sections: [{
          items: [{
            heading: {
              text: 'Pets'
            },
            href: '#'
          }]
        }]
      }) }}

    </div>
    <div class="govuk-grid-column-one-third">
      {{ appRelatedNavigation({
        sections: [{
          items: [{
            heading: {
              text: 'Pet travel: approved air, sea and rail carriers and routes'
            },
            href: '#',
            classes: 'app-related-navigation__section-link--other'
          },{
            heading: {
              text: 'Important Brexit information for UK nationals if there’s no deal'
            },
            href: '#',
            classes: 'app-related-navigation__section-link--other'
          },{
            heading: {
              text: 'Balai Directive: moving live animals, semen and embryos'
            },
            href: '#',
            classes: 'app-related-navigation__section-link--other'
          },{
            heading: {
              text: 'Rabies blood testing laboratories in the UK'
            },
            href: '#',
            classes: 'app-related-navigation__section-link--other'
          },{
            heading: {
              text: 'Living in Ireland'
            },
            href: '#',
            classes: 'app-related-navigation__section-link--other'
          }]
        },{
          heading: {
            text: 'Detailed guidance'
          },
          items: [{
            heading: {
              text: 'Importing animals, animal products and high-risk food and feed not of animal origin if there’s a no-deal Brexit'
            },
            href: '#'
          },{
            heading: {
              text: 'Exporting animals and animal products in a no-deal Brexit'
            },
            href: '#'
          }]
        }]
      }) }}

      {{ appContactDetails({
        small: true,
        heading: {
          text: 'Get help and support'
        },
        lead: {
          text: 'Contact the pet travel helpline if you need more help'
        },
        action: {
          text: 'Find out about call charges',
          href: '#'
        },
        sections: [{
          items: [{
            heading: {
              text: 'Email'
            },
            descriptions: [{
              html: '<a href="mailto:pettravel@apha.gov.uk">pettravel@apha.gov.uk</a>'
            }]
          },{
            heading: {
              text: 'Telephone'
            },
            descriptions: [{
              text: '0370 241 1710'
            }]
          },{
            heading: {
              text: 'Opening times',
              classes: 'govuk-visually-hidden'
            },
            descriptions: [{
              text: 'Monday to Friday, 8:30am to 5pm (closed on bank holidays)'
            }]
          }]
        }]
      }) }}
    </div>
  </div>

{% endblock %}
