{% extends "layout.html" %}

{% block pageTitle %}
  Transition guidance - GOV.UK
{% endblock %}

{% block content %}

<div class="govuk-grid-row">

  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-xl">
      <span class="govuk-caption-l">Prototype</span>
      Transition guidance
    </h1>

    <h2 class="govuk-heading-m">No deal</h2>

    <ul class="govuk-list govuk-list--bullet">
      <li><a class="govuk-link govuk-link--no-visited-state" href="/nodeal/existing-withdrawn">Existing withdrawn</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/nodeal/1">Option 1</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/nodeal/2">Option 2</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/nodeal/3">Option 3</a></li>
      <li><a class="govuk-link govuk-link--no-visited-state" href="/nodeal/4">Option 4</a></li>
      <li>Current guidance</li>
    </ul>

  </div>

</div>

{% endblock %}
