{% extends "layout.html" %}


{% block pageTitle %}
  Driving in the EU after Brexit - GOV.UK
{% endblock %}


{% block beforeContent %}
{# {{ govukPhaseBanner({
  tag: {
    text: "prototype",
    classes: "app-tag--prototype"
  },
  html: 'This is a prototype – your <a class="govuk-link govuk-link--no-visited-state" href="#">feedback</a> will help us to improve it.'
}) }} #}
{{ govukBreadcrumbs({
  items: [
    {
      text: "Home",
      href: "/"
    },
    {
      text: "Find Brexit guidance for your business",
      href: "/"
    }
  ]
}) }}
{% endblock %}


{% block content %}


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-!-margin-bottom-8">
        <h1 class="govuk-heading-l">
          <span class="govuk-caption-l">Guidance</span>
          Driving in the EU after Brexit
        </h1>
      </div>

      <p class="govuk-body-l govuk-!-margin-bottom-8">What you will need to drive while visiting the EU if there’s a no deal Brexit.</p>

    </div>

  </div>


  <hr class="govuk-section-break govuk-section-break--visible">


  {{ appPublisherMetadata({
    classes: "govuk-!-margin-bottom-8",
    published: {
      text: "Published",
      timestamp: "2019-02-04T15:42:37.000+00:00"
    },
    linkToHistory: {
      href: "#",
      text: "see all updates",
      classes: "govuk-link--no-visited-state"
    },
    sections: [{
      heading: {
        text: "From"
      },
      items: [{
        heading: {
          text: "Department for Transport"
        },
        href: "#",
        classes: "govuk-link--no-visited-state"
      }]
    }]
  }) }}


  <div class="govuk-grid-row">

    <div class="govuk-grid-column-two-thirds">

      {{ appContentsList({
        heading: {
          text: "Contents"
        },
        classes: 'app-contents-list--no-underline govuk-!-margin-bottom-8',
        items: [
          {
            text: "Stay up to date",
            href: "#stay-up-to-date",
            classes: "govuk-link--no-visited-state"
          }, {
            text: "Driving licence and IDPs",
            href: "#driving-licence-and-idps",
            classes: "govuk-link--no-visited-state"
          }, {
            text: "Insurance for your vehicle, caravan or trailer",
            href: "#insurance-for-your-vehicle-caravan-or-trailer",
            classes: "govuk-link--no-visited-state"
          }, {
            text: "Vehicle registration documents",
            href: "#vehicle-registration-documents",
            classes: "govuk-link--no-visited-state"
          }, {
            text: "Trailer registration",
            href: "#trailer-registration",
            classes: "govuk-link--no-visited-state"
          }, {
            text: "GB stickers and number plates",
            href: "#gb-stickers-and-number-plates",
            classes: "govuk-link--no-visited-state"
          }, {
            text: "What to do if you’re involved in a road accident",
            href: "#what-to-do-if-youre-involved-in-a-road-accident",
            classes: "govuk-link--no-visited-state"
          }
        ]
      }) }}

      <div class="app-informed">
        <h2 class="govuk-heading-m" id="stay-up-to-date">Stay up to date</h2>
        <p>The UK is leaving the EU. This page tells you how to prepare for Brexit and will be updated if anything changes.</p>
        <p><a class="govuk-link govuk-link--no-visited-state" href="#">Sign up for email alerts</a> to get the latest information.</p>
      </div>

      <p>You will not be allowed to drive in the EU unless you have all the correct documentation.</p>

      <p>If you are a commercial driver, there is additional guidance for:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">lorry and goods vehicle drivers</a></li>
        <li><a class="govuk-link govuk-link--no-visited-state" href="#">bus and coach drivers</a></li>
      </ul>

      <h2 class="govuk-heading-m" id="driving-licence-and-idps">Driving licence and IDPs</h2>

      <p>You will need your UK driving licence to drive in the EU, Switzerland, Norway, Iceland and Liechtenstein.</p>

      <p>You may need one or more international driving permits (IDPs), depending on which country you’re going to or through.</p>

      <p>If you have a UK licence you will not need an IDP to drive when visiting Ireland.</p>

      <div class="app-informed">
        <p>Find out <a class="govuk-link govuk-link--no-visited-state" href="#">which IDPs you might need</a> to drive in the EU, Switzerland, Norway, Iceland and Liechtenstein.</p>
      </div>

      <h3 class="govuk-heading-m" id="insurance-for-your-vehicle-caravan-or-trailer">Insurance for your vehicle, caravan or trailer</h3>

      <p>You will need to carry a motor insurance green card when driving in the EU and EEA.</p>

      <p>Contact your vehicle insurance provider 1 month before you travel to get green cards for your vehicle, caravan or trailer.</p>

      <p>You’ll need multiple green cards if:</p>

      <ul class="govuk-list govuk-list--bullet">
        <li>you have fleet insurance - you’ll need a green card for each vehicle</li>
        <li>your vehicle is towing a trailer or caravan - you’ll need one for the towing vehicle and one for the trailer / caravan (you need separate trailer insurance in some countries)</li>
        <li>you have 2 policies covering the duration of your trip, for example, if your policy renews during the journey</li>
      </ul>

      <p>More about <a class="govuk-link govuk-link--no-visited-state" href="#">vehicle insurance</a>.<p>

      <h3 class="govuk-heading-m" id="vehicle-registration-documents">Vehicle registration documents</h3>

      <ul class="govuk-list govuk-list--bullet">
        <li>your <a class="govuk-link govuk-link--no-visited-state" href="#">vehicle log book (V5C)</a>, if you have one</li>
        <li>a <a class="govuk-link govuk-link--no-visited-state" href="#">VE103</a> to show you’re allowed to use your hired or leased vehicle abroad</li>
      </ul>

      <h3 class="govuk-heading-m" id="trailer-registration">Trailer registration</h3>

      <p>You will still need to register some commercial and non-commercial trailers before towing them to or through most EU and EEA countries.</p>

      <div class="app-informed">
        <p>Find out more about <a class="govuk-link govuk-link--no-visited-state" href="#">trailer registration.</a>.</p>
      </div>

      <h3 class="govuk-heading-m" id="gb-stickers-and-number-plates">GB stickers and number plates</h3>

      <p>You should display a GB sticker on the rear of your vehicle and trailer, even if you currently have a number plate which includes the GB identifier.</p>

      <p>You will need a GB sticker even if you have a number plate with the Euro symbol and Great Britain national identifier.</p>

      <p>You are not required to display a GB sticker to drive in Ireland.</p>

      <h3 class="govuk-heading-m" id="what-to-do-if-youre-involved-in-a-road-accident">What to do if you’re involved in a road accident</h3>

      <p>You might need to bring a claim against either the driver or the insurer of the vehicle in the EU or EEA country where the accident happened. This will vary by insurance company. You might have to make your claim in the local language.</p>

      <p>You might not get compensation if the accident is caused by an uninsured driver or if the driver cannot be traced. This will vary from country to country.</p>

      {{ govukInsetText({
        text: "Get legal advice if you need more information."
      }) }}

      {{ appPublisherMetadata({
        classes: "govuk-!-padding-top-0 govuk-!-margin-bottom-8",
        published: {
          text: "Published",
          timestamp: "2019-08-12T15:42:37.000+00:00"
        }
      }) }}


      {{ appRelatedNavigation({
        attributes: {
          id: "related-navigation-toggle"
        },
        heading: {
          text: "Explore the topic"
        },
        sections: [{
          items: [{
            classes: "govuk-link--no-visited-state",
            heading: {
              text: "Driving and road transport"
            },
            href: "#"
          },
          {
            classes: "govuk-link--no-visited-state",
            heading: {
              text: "Brexit"
            },
            href: "#"
          }]
        }]
        },{
        heading: {
          text: "Collection"
        },
        items: [{
          heading: {
            text: "Lorem ipsum dolor sit amet"
          },
          href: "#"
        }]

      }) }}

    </div>

    <div class="govuk-grid-column-one-third">

      {{ appRelatedNavigation({
        heading: {
          text: "Transition period"
        },
        sections: [{
          items: [{
            heading: {
              text: "Find out what it means for you"
            },
            href: "#",
            classes: "app-related-navigation__section-link--other govuk-link govuk-link--no-visited-state"
          }]
        }]
      }) }}

      {{ appRelatedNavigation({
        heading: {
          text: "Related content"
        },
        sections: [{
          items: [{
            heading: {
              text: "Find Brexit guidance for your business"
            },
            href: "#",
            classes: "app-related-navigation__section-link--other govuk-link--no-visited-state"
          },{
            heading: {
              text: "Pet travel to Europe after Brexit"
            },
            href: "#",
            classes: "app-related-navigation__section-link--other govuk-link--no-visited-state"
          },{
            heading: {
              text: "Visit Europe after Brexit"
            },
            href: "#",
            classes: "app-related-navigation__section-link--other govuk-link--no-visited-state"
          }]
        },{
          heading: {
            text: "Detailed guidance"
          },
          items: [{
            heading: {
              text: "Driving after Brexit for UK licence holders living in the EU"
            },
            href: "#",
            classes: "govuk-link--no-visited-state"
          },{
            heading: {
              text: "Drive in the EU after Brexit: bus and coach drivers"
            },
            href: "#",
            classes: "govuk-link--no-visited-state"
          },{
            heading: {
              text: "Drive in the EU after Brexit: lorry and goods vehicle drivers"
            },
            href: "#",
            classes: "govuk-link--no-visited-state"
          },{
            heading: {
              text: "Driving in the EU after Brexit: driving licence exchange"
            },
            href: "#",
            classes: "govuk-link--no-visited-state"
          },{
            heading: {
              text: "Driving in the EU after Brexit: international driving permits"
            },
            href: "#",
            classes: "govuk-link--no-visited-state"
          }]
        }]
      }) }}

    </div>

  </div>

{% endblock %}
